html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: #1f53f1;
}

button {
  background-color:  #1f53f1;
  color: #ffffff;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  min-width: 5.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
