.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.highlight {
  color: #1f53f1;
}


/*---- Url Shortner ----*/

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error {
  color: red;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

.url {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.url input {
  width: 20rem;
}

.shortUrl {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shortUrlOutput {
  width: 20rem;
}